[user]
  name = k-hamada
  email = k.hamada.1988@gmail.com

[core]
  editor = vim -c 'set fenc=utf-8'
  excludesfile = ~/.gitignore
  pager = less -r
  precomposeunicode = true

[color]
  ui = auto

[alias]
  adp  = !git add -p && git st
  adu  = !git add -u && git st
  b    = branch
  ci   = commit -v
  cia  = commit -av
  co   = checkout
  cob  = checkout -b
  d    = diff
  f    = fetch
  s    = status
  st   = status

  fix   = commit --amend -C HEAD
  amend = commit --amend --reuse-message=HEAD

  po  = !git push origin `git rev-parse --abbrev-ref HEAD`
  rbm = rebase master
  up  = pull --rebase

  gene = log --graph --pretty='%C(yellow)%h%Creset %s%C(yellow)%d%Creset' --all
  glog = show-branch
  l    = log --pretty=oneline -n 20 --graph --abbrev-commit
  lp   = log -p
  lp1  = log -p --max-count=1
  lo   = log --oneline
  lo1  = log --oneline --max-count=1
  ls   = log --stat
  ls1  = log --stat --max-count=1

  new  = log HEAD@{1}..HEAD --reverse
  newd = diff HEAD@{1}..HEAD
  newl = log HEAD@{1}..HEAD --reverse --oneline
  newp = log HEAD@{1}..HEAD -p --reverse

  cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
  aliases = !git config --get-regexp alias | grep -v aliases | sed 's/^alias.//g' | sed 's/ / = /1' | sort

[fetch]
  prune = true

[rebase]
  autosquash = true

[status]
  # showUntrackedFiles = no

[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/

[url "git://github.com/"]
  insteadOf = https://github.com/
